---
import type { FlavorName } from "@catppuccin/palette";
import { flavors } from "@catppuccin/palette";

interface Props {
  flavor: FlavorName;
  bold?: boolean;
  link?: boolean;
}

const { flavor, bold, link } = Astro.props as Props;
---

{
  link ? (
    <a href={`#flavor-${flavor}`}>
      {bold === false ? (
        <span data-flavor={flavor}>{flavors[flavor].name}</span>
      ) : (
        <strong data-flavor={flavor}>{flavors[flavor].name}</strong>
      )}
    </a>
  ) : (
    <>
      {bold === false ? (
        <span data-flavor={flavor}>{flavors[flavor].name}</span>
      ) : (
        <strong data-flavor={flavor}>{flavors[flavor].name}</strong>
      )}
    </>
  )
}

<style lang="scss">
  [data-flavor="latte"]::before {
    content: "🌻\00A0";
  }
  [data-flavor="frappe"]::before {
    content: "🪴\00A0";
  }
  [data-flavor="macchiato"]::before {
    content: "🌺\00A0";
  }
  [data-flavor="mocha"]::before {
    content: "🌿\00A0";
  }
</style>
