---
import { getCollection, render } from "astro:content";

import Default from "@layouts/Default.astro";

import PageIntro from "@components/PageIntro.astro";
import Link from "@components/Link.svelte";
import ProfilePicture from "@components/ProfilePicture.svelte";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);

const formattedDatePosted = new Date(post.data.datePosted).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Default
  title={`${post.data.title} • Catppuccin`}
  description={post.data.summary}
  ogImage={post.data.hero.path}
  enableViewTransition>
  <img
    src={post.data.hero.path}
    alt={post.data.title}
    title={post.data.title}
    transition:name="hero"
    transition:animate="fade"
  />
  <article class="blog-container" role="main">
    <PageIntro title={post.data.title}>
      <p class="article-summary">{post.data.summary}</p>
      <footer class="article-meta">
        <Link href={`https://github.com/${post.data.author.github}`}>
          <ProfilePicture username={post.data.author.github} size={64} wxh={56} />
        </Link>
        <div class="article-meta-text-wrap">
          <p class="article-author-info">
            <span class="article-author-name">{post.data.author.name}</span> • {post.data.author.title}
          </p>
          <p class="article-pubdate">Published on: {formattedDatePosted}</p>
          <p>{remarkPluginFrontmatter.minutesRead}</p>
        </div>
      </footer>
    </PageIntro>
    <Content />
    <footer class="article-credit">
      Hero image by <Link href={post.data.hero.source} external>{post.data.hero.author}</Link> modified with <Link
        href="https://github.com/ozwaldorf/lutgen-rs"
        external>lutgen-rs</Link
      >.
    </footer>
  </article>
</Default>

<style lang="scss">
  @use "@styles/utils";

  :root {
    --accent-color: var(--yellow);
  }

  img {
    width: 100%;
    aspect-ratio: 16 / 5;
    border-radius: var(--border-radius-normal);
  }

  .blog-container {
    max-width: 69ch;
    margin-inline: auto;
  }

  .article-summary {
    margin-block: calc(var(--space-md) * -1 + 6px) var(--space-md);
    color: var(--overlay1);
  }

  .article-meta {
    display: flex;
    gap: 0 var(--space-sm);
    align-items: center;

    color: var(--overlay1);
    font-size: 80%;

    .article-author-avatar {
      margin: 0;
      padding: 0;
      grid-row: span 2;
    }

    .article-author-info,
    .article-pubdate {
      margin: 0;
      padding: 0;
    }

    .article-author-name {
      color: var(--text);
      font-weight: 600;
    }
  }

  .article-credit {
    margin-block-start: var(--space-lg);
    padding-block-start: var(--space-md);
    border-top: 1px solid var(--surface0);
    color: var(--subtext0);
    font-size: 80%;
  }
</style>
