---
import { getCollection } from "astro:content";
import PageIntro from "@components/PageIntro.astro";
import ArticleCard from "./_components/ArticleCard.astro";
import Default from "@layouts/Default.astro";

export const description =
  "Blog posts related to Catppuccin, ranging from announcements, devlogs, general musings and more!";
export const title = "Blog • Catppuccin";

let blogPosts = await getCollection("blog", ({ data }) => !data.draft);
const featuredPost = blogPosts.find((post) => post.data.featured);
blogPosts = blogPosts.filter((post) => !post.data.featured);

if (!featuredPost) {
  throw new Error("At least one blog post must be featured");
}
---

<Default {title} {description} enableViewTransition>
  <PageIntro title="Blog">
    <p>{description}</p>
  </PageIntro>

  <section class="featured-blog">
    <ArticleCard post={featuredPost} />
  </section>

  <!-- Hardcode for now, generalise when we have more blog content -->
  <section class="bloglist">
    {blogPosts.filter((post) => post.data.category === "Announcement").map((post) => <ArticleCard {post} />)}
  </section>
</Default>

<style lang="scss">
  @use "@styles/utils";

  .bloglist {
    @include utils.grid($column: 300px, $gap: var(--space-sm));
    max-width: 69rem;
  }

  :root {
    --accent-color: var(--blue);
  }
</style>
