---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import Pill from "../lists/Pills.svelte";
import Avatar from "../lists/Avatar.svelte";
import Link from "../Link.svelte";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const formattedDatePosted = new Date(post.data.datePosted).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Link href={`/blog/${post.slug}`} underline={false}>
  <article class="post-card">
    <img class="blog-hero-image" src={post.data.hero.path} alt={post.data.title} />
    <div class="post-content">
      <header class="article-header">
        <h3>{post.data.title}</h3>
      </header>
      <main class="article-content">
        <p>{post.data.summary}</p>
      </main>
      <footer class="article-footer">
        <Pill list={[post.data.category]} />
        <div class="article-meta">
          <div class="article-author has-icon">
            <Avatar username={post.data.author.github} size={64} wxh={24} />
            {post.data.author.name}
          </div>
          <p class="article-pubdate has-icon">
            <Icon name="ph:calendar-dots-fill" size={24} />
            {formattedDatePosted}
          </p>
        </div>
      </footer>
    </div>
  </article>
</Link>

<style lang="scss">
  @use "../../styles/utils";

  .post-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-normal);
    background-color: var(--mantle);
    overflow: clip;
    height: 100%;

    transition: all 300ms ease-in-out;

    &:hover {
      h3 {
        text-decoration: underline;
      }

      transform: scale(102%);

      background-position: top right;

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }

    a h3,
    p {
      margin: 0;
      padding: 0;
    }

    .post-content {
      @include utils.flex($direction: column, $gap: var(--space-sm));
      @include utils.containerPadding(sm);
      height: 100%;
    }

    .blog-hero-image {
      object-fit: cover;
    }

    .article-content {
      color: var(--subtext0);
    }

    .article-meta {
      @include utils.flex($direction: row, $gap: var(--space-xs) var(--space-sm));
      font-size: 80%;
    }

    .article-footer {
      margin-block-start: auto;
    }

    .article-category {
      color: var(--article-category-color);
    }

    .article-meta {
      margin-block-start: var(--space-sm);
      color: var(--overlay1);
    }

    .has-icon {
      @include utils.flex($direction: row, $gap: var(--space-xs));
      margin: 0;
      padding: 0;
    }
  }
</style>

<style lang="scss" is:global>
  a:has(.post-card) h3 {
    color: unset;
    margin: 0;
    padding: 0;
  }
</style>
