---
import type { ColorName } from "@catppuccin/palette";

import Link from "../Link.astro";
import { Image } from "astro:assets";

const isProd = import.meta.env.PROD;

interface Props {
  url: string;
  name: string;
  showAvatar?: boolean;
  color?: ColorName;
}

const { name, showAvatar, color } = Astro.props;
const url = isProd ? Astro.props.url : "https://github.com/sgoudham";
---

<div class="card-user" style={`--user-color: var(--${color})`}>
  <Link href={url} external>
    {
      showAvatar === true ? (
        <>
          <Image class="user-avatar" src={`${url}.png?size=128`} width="128" height="128" alt={`${name}'s Avatar`} />
          <br />
          <span class="user-name">{name}</span>
        </>
      ) : (
        <span class="user-name">{name}</span>
      )
    }
  </Link>
</div>

<style lang="scss">
  @use "../../styles/utils";

  .card-user {
    --__user-color: var(--user-color, var(--mantle));

    @include utils.containerPadding(md);
    border-radius: var(--border-radius-large);
    background-color: var(--mantle);
    text-align: center;

    img {
      border-radius: 50%;
      border: var(--space-xxs) solid var(--__user-color);
    }
  }
</style>
