---
import Layout from "../layouts/Layout.astro"

import Link from "../components/Link.astro"
import PageIntro from "../components/PageIntro.astro"
import ButtonCopy from "../components/ButtonCopy.astro"

import { CatppuccinLinks as links } from '../contents/CatppuccinLinks'

import { flavorEntries } from "@catppuccin/palette"
---



<Layout
  title="Palette • Catppuccin"
  description="All the ins and outs of our lovely palette"
>


  <PageIntro title="Palette">

    <p>Catppuccin consists of 4 beautiful pastel color palettes, named flavors. All the details can be found below.</p>
    <p>If you want to use them for your own project, refer to our <Link href=`${links.github}/catppuccin/blob/main/docs/style-guide.md`` external>style guide</Link> for general use cases and guidelines
    <p>Additionally, you can find integrations with popular frameworks and tools in <Link href=`${links.github}/palette`` external>catppuccin/palette</Link>.</p>

  </PageIntro>


  {
    flavorEntries.map(([flavorName, flavor]) => (
      <section class="flavor">

        <h3 id=`flavor-${flavorName}` class="flavor-name">{flavorName}</h3>
        <table class="color-list">
          <tr class="color-list-header">
            <th>Color</th>
            <th class="right-aligned">Hex</th>
            <th class="right-aligned">RGB</th>
            <th class="right-aligned">HSL</th>
          </tr>
          {
            flavor.colorEntries.map(([colorName, { hex, rgb, hsl, accent }]) => (
              <tr class="color-list-entry" style=`--current-color: ${hex}` >
                <td class="color">
                  <h5 class="color-name">{colorName}</h5>
                </td>
                <td class="color-hex right-aligned">
                  <ButtonCopy value={hex} />
                </td>
                <td class="color-rgb right-aligned">
                  <ButtonCopy value=`rgb(${rgb.r} ${rgb.g} ${rgb.b})` />
                </td>
                <td class="color-hsl right-aligned">
                  <ButtonCopy value=`hsl(${Math.floor(hsl.h)} ${Math.floor(hsl.s * 100)} ${Math.floor(hsl.l * 100)})` />
                </td>
              </tr>
            ))
          }
        </table>

      </section>
    ))
  }

</Layout>





<style lang="scss">

  :root { --accent-color: var(--mauve); }


  .flavor-name,
  .color-name { text-transform: capitalize; }


  .color-list {

    width: 100%; min-width: max-content;
    overflow-y: scroll;

    text-align: left;


    tr > td { padding-block-start: 2px; }

    .right-aligned { text-align: right; }

  }


  .color-list-entry { --__current-color: var(--current-color, var(--text)); }


  .color-list-header th {

    font-size: 80%; font-weight: 500;
    color: var(--subtext0);

  }


  .color-name {

    position: relative;

    margin: 0; padding: 0; padding-inline-start: 3rem;


    &::before {

      content: '';

      position: absolute;
      left: 0;

      height: 2rem; aspect-ratio: 1 / 1;

      border-radius: 9999px;
      background-color: var(--__current-color);

    }

  }

</style>
