---
import Layout from "../layouts/Layout.astro"

import Link from "../components/Link.astro"
import PageIntro from "../components/PageIntro.astro"
import ColorCard from "../components/CardColor.astro"

import { CatppuccinLinks as links } from '../contents/CatppuccinLinks'

import { flavorEntries } from "@catppuccin/palette"
---



<Layout
  title="Palette • Catppuccin"
  description="All the ins and outs of our lovely palette"
>


  <PageIntro title="Palette">

    <p>Catppuccin consists of 4 beautiful pastel color palettes, named flavors. All the details can be found below.</p>
    <p>If you want to use them for your own project, refer to our <Link href=`${links.github}/catppuccin/blob/main/docs/style-guide.md`` external>style guide</Link> for general use cases and guidelines
    <p>Additionally, you can find integrations with popular frameworks and tools in <Link href=`${links.github}/palette`` external>catppuccin/palette</Link>.</p>

  </PageIntro>


  {
    flavorEntries.map(([flavorName, flavor]) => (
      <section class="flavor">

        <h3 id=`flavor-${flavorName}` class="flavor-name">{flavorName}</h3>
        <div class="color-list">
          {
            flavor.colorEntries.map(([colorName, { hex, rgb, accent }]) => (
              <ColorCard name={colorName} hex={hex} rgb={rgb} accent={accent} />
            ))
          }
        </div>

      </section>
    ))
  }


</Layout>




<script src="/clipboard.js" type="text/javascript"></script>




<style lang="scss">

  :root { --accent-color: var(--mauve); }



  .flavor-name {

    margin-block-end: var(--spacing-m);

    text-transform: capitalize;

  }


  .color-list {

    container-type: inline-size;

    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-m);

  }

</style>
