---
import { repositories } from "../lib/ports";

import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import Search from "../components/PortGrid.svelte";
import PortCard from "../components/cards/PortCard.svelte";
import Link from "../components/Link.astro";
---

<Layout
  title="Ports • Catppuccin"
  description="Explore Catppuccin's extensive range of ports. From applications and tools to websites, we have a port for just about anything!">
  <PageIntro title="Ports">
    <p>
      Catppuccin offers ports for all sorts of different applications, tools, websites and just about anything that
      comes to your mind!
    </p>
    <p>Ports: <strong>{repositories.length}</strong></p>
  </PageIntro>

  <noscript>
    <div class="port-grid">
      {
        repositories.map((p) => (
          <PortCard
            title={p.name}
            link={
              p["is-userstyle"]
                ? `https://github.com/catppuccin/userstyles/tree/main/styles/${p.key}`
                : p.repository.url
            }
            icon={p.icon}
            categories={p.categories}
            color={p.color}
          />
        ))
      }
    </div>
  </noscript>

  <Search client:only="svelte" ports={repositories}>
    <svelte:fragment slot="no-results">
      <p>Sorry, we couldn't find any ports matching your search :(</p>
      <p>
        You can request a port to be themed by raising a
        <Link
          href="https://github.com/catppuccin/catppuccin/discussions/new?category=port-requests"
          external
          slot="link">port request in catppuccin/catppuccin</Link
        >
        .
      </p>
    </svelte:fragment>
  </Search>
</Layout>

<style lang="scss" is:global>
  @use "../styles/utils";

  :root {
    --accent-color: var(--peach);
  }

  body {
    display: flex;
    flex-direction: column;
    column-gap: var(--space-xl);
  }

  .content-wrapper {
    margin-block-end: var(--space-xl);
  }

  .footer-container {
    margin-block-start: unset;
    margin-top: auto;
    .content-wrapper {
      margin-block-end: unset;
    }
  }

  .port-grid {
    @include utils.grid($column: 250px, $gap: var(--space-md));
  }
</style>
