---
import { ports, categories, type Category, type Port, type Userstyle } from "../lib/ports";

import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import PortCard from "../components/cards/Port.astro";
import Callout from "../components/cards/Callout.astro";

const getCategories = (fields: Port | Userstyle) => {
  const mappedCategories = fields.categories.map(
    (portCategory) => categories.find(({ key }) => key == portCategory) as Category,
  );
  if ("readme" in fields) {
    mappedCategories.push({
      key: "userstyle",
      name: "Userstyles",
      description: "Modified CSS files that can be applied to a website.",
      emoji: "🖌",
    });
  }
  return mappedCategories;
};
---

<Layout
  title="Ports • Catppuccin"
  description="Explore Catppuccin's extensive range of ports. From applications and tools to websites, we have a port for just about anything!">
  <PageIntro title="Ports">
    <p>
      Catppuccin offers ports for all sorts of different applications, tools, websites and just about anything that
      comes to your mind!
    </p>
    <Callout type="info"> Search & Filters Coming Soon™</Callout>
  </PageIntro>

  <section class="port-list">
    <div class="port-grid">
      {
        Object.entries(ports)
          .sort(([a], [b]) => (a.toLowerCase() < b.toLowerCase() ? -1 : a.toLowerCase() > b.toLowerCase() ? 1 : 0))
          .map(([slug, fields]) => (
            <PortCard
              title={fields.name}
              link={
                "url" in fields
                  ? (fields.url as string)
                  : "readme" in fields
                    ? `https://github.com/catppuccin/userstyles/blob/main/styles/${slug}`
                    : `https://github.com/catppuccin/${fields.alias || slug}`
              }
              icon={fields.icon}
              categories={getCategories(fields)}
              color={fields.color}
            />
          ))
      }
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  @use "../styles/utils";

  :root {
    --accent-color: var(--peach);
  }

  .port-grid {
    @include utils.grid($column: 250px, $gap: var(--space-md));
  }
</style>
