---
import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import PortCard from "../components/CardPort.astro";

import { CatppuccinLinks as links } from "../contents/CatppuccinLinks";

import { parse } from "yaml";
const rawPorts = await fetch(
  "https://raw.githubusercontent.com/catppuccin/catppuccin/main/resources/ports.yml",
).then((r) => r.text());
const portsRaw = parse(rawPorts).ports as Record<string, Port>;

// const ports: Port[] = [];
const ports = [];
for (const [key, value] of Object.entries(portsRaw)) {
  // const port: Port = {
  //   categories: string[];
  //   name: string;
  //   platform: Platform[];

  //   color?: string;
  //   icon?: string;
  //   alias?: string;
  //   url?: string;
  //   links?: Link[];
  //   upstreamed?: boolean;
  // }
  ports.push([key, value] as const);
}
---

<Layout
  title="Ports • Catppuccin"
  description={`All ${ports.length} Catppuccin-ports.`}
>
  <PageIntro title="Ports">
    <p>
      Catppuccin offers over <b>{ports.length}</b> ports for all sorts of different
      applications, tools, websites and just about anything that comes to your mind!
    </p>
  </PageIntro>

  <section class="port-list">
    <div class="port-grid">
      {
        ports.map((port) => (

        JSON.stringify(port, undefined, 50)

          // <PortCard
          //   title={port[1].name}
          //   link={`https://github.com/catppuccin/${port[1].alias || port[0]}`}
          //   color={port[1].color}
          //   categories={port[1].categories}
          // />

        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  :root {
    --accent-color: var(--blue);
  }

  .port-grid {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-md);
  }
</style>
