---
import Icon from "./IconPort.astro";
import PillList from "./ListPills.astro";

interface Props {
  title: string;
  link: string;
  categories: Category[];
  color?: string;
}

const { title, link, categories, color } = Astro.props;
---

<a href={link} class="port-card">
  <div class="port-header">
    <h4 class="port-name">{title}</h4>
    <div class="port-icon"><Icon port={title} color={color} /></div>
  </div>

  <PillList list={categories.map((category: Category) => `${category.name}`)} />
</a>

<style lang="scss">
  @use "../styles/utils";

  .port-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-sm);

    @include utils.containerPadding();

    border-radius: var(--border-radius-normal);
    background-color: var(--mantle);
    background-size: 200%;
    background-position: top left;

    color: var(--subtext0);
    font-size: 1.6rem;

    transition: all 300ms ease-in-out;

    &:hover {
      transform: scale(105%);

      background-position: top right;

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }

    figure,
    h4 {
      margin: 0;
      padding: 0;
    }

    .port-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .port-name {
      color: var(--text);
      font-size: 2rem;
      font-weight: 600;
    }
  }
</style>
