---
import { flavorEntries, type ColorFormat } from "@catppuccin/palette";

import { githubUrl } from "@data/links";

import Default from "@layouts/Default.astro";

import PageIntro from "@components/PageIntro.astro";

// import CopyToClipboardIcon from "./_components/CopyToClipboardButton.svelte";
import ColorContextMenu from "./_components/ColorContextMenu.svelte";
import FlavorName from "./_components/FlavorName.astro";

const toRgb = (rgb: ColorFormat["rgb"]) => {
  return `rgb(${rgb.r}, ${rgb.g}, ${rgb.b})`;
};
const toHsl = (hsl: ColorFormat["hsl"]) => {
  return `hsl(${Math.round(hsl.h)}deg, ${Math.round(hsl.s * 100)}%, ${Math.round(hsl.l * 100)}%)`;
};
const toOklch = (oklch: ColorFormat["oklch"]) => {
  return `oklch(${Math.round(oklch.l * 100)}%, ${Math.round(oklch.c * 100)}% ${Math.round(oklch.h)}deg)`;
};
---

<Default
  title="Palette • Catppuccin"
  description="Dive into Catppuccin's palette: four unique pastel color palettes named 'flavors'. Ideal for your next project!">
  <PageIntro title="Palette">
    <p>
      Catppuccin consists of 4 beautiful pastel color palettes, named <strong>flavors</strong>. The theme comes in one
      light and three dark variants:
      <ul>
        <li>
          <FlavorName flavor="latte" />: Our lightest theme harmoniously inverting the essence of Catppuccin's dark
          themes.
        </li>
        <li>
          <FlavorName flavor="frappe" />: A less vibrant alternative using subdued colors for a muted aesthetic.
        </li>
        <li>
          <FlavorName flavor="macchiato" />: Medium contrast with gentle colors creating a soothing atmosphere.
        </li>
        <li>
          <FlavorName flavor="mocha" />: The Original — Our darkest variant offering a cozy feeling with color-rich
          accents.
        </li>
      </ul>
      <p>
        If you'd like to use them for your own project, refer to our
        <a href=`${githubUrl}/catppuccin/blob/main/docs/style-guide.md`>style guide</a>
        for general use cases and guidelines. Additionally, you can find integrations with popular frameworks and tools in
        <a href=`${githubUrl}/palette`>catppuccin/palette</a>.
      </p>
    </p>

    <section class="flavor-grid">
      {
        flavorEntries.map(([flavorName, flavor]) => (
          <div class="flavor">
            <details open>
              <summary>
                <h2 id={`flavor-${flavorName}`} class="flavor-name">
                  <FlavorName flavor={flavorName} bold={false} />
                </h2>
              </summary>
              <p class="flavor-hint">Click to copy hex • Hold for more formats</p>
              <div class="color-list">
                {Object.values(flavor.colors).map(({ hex, rgb, hsl, oklch, name }) => (
                  <ColorContextMenu
                    client:load
                    flavorName={flavorName}
                    {name}
                    {hex}
                    rgb={toRgb(rgb)}
                    hsl={toHsl(hsl)}
                    oklch={toOklch(oklch)}>
                    <div class="color-list-entry" style={`--current-color: ${hex}`}>
                      <div class="color-swatch" />
                      <span class="color-name">{name}</span>
                    </div>
                  </ColorContextMenu>
                ))}
              </div>
            </details>
          </div>
        ))
      }
    </section>
  </PageIntro>

  <style lang="scss">
    @use "@styles/utils";

    :root {
      --accent-color: var(--mauve);
    }

    summary {
      cursor: pointer;
    }

    .flavor-hint {
      font-size: 1.5rem;
      color: var(--subtext0);
      margin-block-start: 0.25rem;
      margin-block-end: 0;
      font-family: monospace;
    }

    .flavor {
      @include utils.containerPadding();
      margin-block-start: var(--space-md);

      border-radius: var(--border-radius-normal);
      background: var(--mantle);

      overflow-x: auto;
    }

    .flavor-name,
    .color-name {
      text-transform: capitalize;
    }

    .flavor-name {
      font-size: inherit;
    }

    .color-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
      gap: var(--space-sm);
      margin-block-start: var(--space-md);
    }

    .color-list-entry {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: var(--border-radius-normal);
      gap: 1rem;
      cursor: pointer;
      padding: 2px;

      &:hover {
        background: var(--surface0);
      }
    }

    .color-swatch {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: var(--border-radius-normal);
      background-color: var(--current-color);
      border: 2px solid color-mix(in srgb, var(--mantle), var(--text) 50%);
    }

    .color-name {
      font-family: monospace;
      font-size: 1.5rem;
      text-align: center;
      word-break: normal;
      overflow-wrap: normal;
    }

    @media (max-width: 600px) {
      .color-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
      }

      .color-list-entry {
        width: 100%;
      }

      .color-name {
        font-size: 1.5rem;
      }
    }
  </style>
</Default>
