---
import type { AccentName } from "@catppuccin/palette";

import Skeleton from "./Skeleton.astro";

import Navigation from "./components/Navigation.astro";
import Head from "./components/Head.astro";
import Footer from "./components/Footer.astro";
import AccentBar from "./components/AccentBar.astro";

interface Props {
  title: string;
  description: string;
  ogImage?: string;
  accent?: AccentName;
  enableViewTransition?: boolean;
}

const { title, description, ogImage, accent, enableViewTransition } = Astro.props;
---

<Skeleton>
  <Head slot="seo" {title} {description} {ogImage} {accent} {enableViewTransition} />

  <Navigation />

  <slot />

  <section class="full-width footer-container">
    <Footer />
    <AccentBar />
  </section>
</Skeleton>

<style lang="scss">
  @use "@styles/utils" as *;

  .footer-container {
    margin-block-start: space(xl);
    background-color: var(--mantle);
  }
</style>
